.menu {
    border-radius: 35px;
    padding: 20px 25px;
    width: 290px;
    min-width: 290px;
    background-color: var(--main-white-background);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;

    &--title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--ant-font-size-heading-3);
        font-weight: 500;
        margin: 0 0 20px 0;
    }

    &--list {
        display: flex;
        gap: 15px;
        font-size: var(--ant-font-size-lg);
        flex-direction: column;
        user-select: none;

        &--item {
            display: flex;
            gap: 8px;
            cursor: pointer;
            transition: color ease-in-out 0.2s;

            .anticon {
                font-size: var(--ant-font-size-xl);
            }

            &__expandable {
                display: flex;
                justify-content: space-between;

                .anticon {
                    font-size: var(--ant-font-size-xl);
                }

                .arrow {
                    font-size: var(--ant-font-size);
                }

                .title {
                    display: flex;
                    gap: 8px;
                    cursor: pointer;
                }

                .title.active {
                    color: var(--ant-geekblue-5);
                    font-weight: 500;
                    cursor: default;
                }

                .title:not(.active):hover {
                    color: var(--ant-geekblue-6);
                }

                .anticon {
                    cursor: pointer;
                }
            }

            &--submenu {
                padding-left: 28px;
                font-size: var(--ant-font-size);

                li {
                    transition: color ease-in-out 0.2s;
                }

                li.active {
                    color: var(--ant-geekblue-5);
                    cursor: default;
                    font-weight: 500;
                }

                li:not(.active):hover {
                    color: var(--ant-geekblue-6);
                }
            }
        }

        &--item.active {
            color: var(--ant-geekblue-5);
            cursor: default;
            font-weight: 500;
        }

        &--item:not(.active):hover {
            color: var(--ant-geekblue-6);
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        &--info {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        .anticon {
            font-size: 25px;
            transform: rotate(180deg);
            transition: color ease-in-out 0.2s;
            cursor: pointer;
        }

        .anticon:hover {
            color: var(--ant-geekblue-7);
        }
    }
}