.debts {
    width: 100%;
    padding: 10px 20px 20px;
    max-height: 100%;

    &--title {
        font-size: var(--ant-font-size-heading-2);
        font-weight: 500;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--main {
        display: flex;
        gap: 25px;
        height: calc(100% - 45px);

        &--left,
        &--right {
            display: flex;
            flex-direction: column;
            gap: 32px;
            flex: 1;
        }

        &--right {
            max-width: 400px;
        }

        &--div {
            border-radius: 36px;
            background-color: var(--main-white-background);
            padding: 15px;
            flex: 1;
            overflow: hidden;
        }
    }
}