.calender {
    height: 270px;
    .ant-picker-panel {
        --ant-calendar-full-bg: #F1F1F1;
        --ant-calendar-full-panel-bg: #F1F1F1;
        border: 0 !important;
    }

    .ant-picker-calendar-header {
        display: none !important;
    }
}